@media (min-width:1220px) {
    .container {
        max-width: 1170px;
    }

    .top-nav {
        display: none;
    }


}

@media (max-width:1250px) {
    .container {
        max-width: 1170px;
    }

    .top-nav {
        display: none;
    }

    .header-area .cont-num {
        display: none;
    }
}

@media all and (max-width:1199px) {
    .base .container {
        max-width: 100%;
    }

}

@media (max-width:1200px) {
    .header-area .cont-num {
        display: none;
    }

    .top-nav {
        display: none;
    }

    .title-header {
        margin-bottom: 80px;
    }
}

@media (max-width:1200px) {

    .header-area,
    .header-area .nav-btn,
    .header-area .cont-num {
        display: none;
    }

    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(241 117 43);
        color: #FFF;
        height: 97px;
        padding: 1em;
    }

    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu>li {
        margin: 0 1rem;
        overflow: hidden;
    }

    .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle {
        display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .menu-button::before {
        content: '';
        margin-top: -8px;
    }

    .menu-button::after {
        content: '';
        margin-top: 8px;
    }

    #menu-toggle:checked+.menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }

    #menu-toggle:checked+.menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }

    #menu-toggle:checked+.menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 97px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 0.5px solid grey;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        width: calc(100% - 50px);
    }

    .menu>li {
        z-index: 1000;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: rgba(24, 95, 173, 255);
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

}

@media (min-width:991px) and (max-width:992px) {
    .spacing {
        padding-left: 15px;
        padding-right: 15px;
    }

    .pattern {
        display: none;
    }

    .about-area .image-wrapper .align-left {
        text-align: center !important;
    }
}

@media (max-width:992px) {

    .header-area,
    .pattern {
        display: none;
    }

    .about-area .mt_100 {
        margin-top: 30px;
    }

    .mt_100 {
        margin-top: -115px;
    }

    .spacing {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }

    .base {
        padding: 50px 0;
    }

    .page-header {
        display: inline;
    }

    .about-area .image-wrapper .align-left,
    .text-align-left,
    .page-text {
        text-align: center !important;
    }

    .first-contact {
        padding: 50px 0;
    }

    .gallery,
    .attraction {
        padding-bottom: 0;
    }

    .feature-box {
        padding: 70px 15px 45px;
    }

    .feature-content .feature-title h5 {
        font-size: 24px;
        line-height: 34px;
    }

    .text-align-center .title-header {
        margin-bottom: 30px;
    }

    .footer .footer-content {
        align-items: center;
    }

    .footer .footer-image,
    .breadcrumb-wrapper {
        width: 100%;
        text-align: center;
    }

    .about-area ul.services-list {
        margin-bottom: 10px !important;
    }

    .amenities-area ul.services-list {
        margin-bottom: 40px !important;
    }

    .contact .marginb {
        height: 50%;
    }

    .service-area .style2:last-child {
        margin-bottom: 20px !important;
    }

    .gallery-area .title-header {
        padding-bottom: 50px !important;
    }

    .service-area {
        margin-top: 25px;
    }

    .base.contact {
        padding-bottom: 20px;
    }
}

@media (max-width:767px) {

    .margintop {
        margin-top: 50px;
    }

    .service-text {
        margin-top: 30px;
    }
}